<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="_3DSearch.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="_3DSearch.Properties.Settings.SQLConnection1" connectionString="Data Source=pdmsrv ;Initial Catalog=SwPlusDB; User ID=airventscad;Password=1;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="_3DSearch.Properties.Settings.SWPlusDBConnectionString"
            connectionString="Data Source=pdmsrv;Initial Catalog=SWPlusDB;User ID=airventscad;Password=1;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <_3DSearch.Properties.Settings>
            <setting name="LocalPath" serializeAs="String">
                <value>D:\Parts</value>
            </setting>
        </_3DSearch.Properties.Settings>
    </userSettings>
</configuration>